body {
  margin: 0;
}

* {
  box-sizing:border-box;
}

nav{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 70px;
  padding-left: 30px;

  border-bottom: 2px solid rgba(0,0,0,0.1);


}

.nav--logo{
  height:25px;
  max-width:82px;
}

section{
  padding: 20px;
}

.hero-content{
  display: flex;
  flex-direction: column;
}

.hero-p1{
  width: 320px;
  height: 56px;
  margin-top: 0px;
  

  color: #222;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 110%; /* 17.6px */
  }

  .hero-head{
    width: 347px;

    color: #000;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 39.6px */
    margin-bottom: 16px;
  }

  .hero-photo{
    max-width: 400px;
    align-self: center;
  }

  .card{
    width:175px;
    font-size:12px;
    margin-left: 15px;
  }

  .card-image{
    width:100%;
    height:250px;
    border-radius: 9px;
  }

  .card-stats{
    display:flex;
    align-items: center;
  }

  .card-star{
    height:14px;
  }

  .grey{
    color:#918e9b;
  }

  .bold{
    font-weight: bold;
  }

  .wrapper{
    display:flex;
    flex-direction:row;
    margin-left: 15px
  
  }